<section class="welcome-container">
    <div class="left-section">
      <h1 class="welcome-title">
        <span>{{ typedText }}</span><span class="cursor">|</span>
      </h1>
      <h2 class="name-title">
        Chaitanya <span class="surname-title">Nirfarake</span>
      </h2>
      <p class="profession">Full Stack Web Developer</p>
    </div>
  
    <div class="right-section">
        <div class="code-block">
          <p class="comment">// About Me</p>
          <p><span class="key">const</span> <span class="variable"> name</span> = <span class="string">"Chaitanya Nirfarake"</span>;</p>
          
          <p class="comment">// Short Intro</p>
          <p><span class="function">console.log</span>(<span class="string">"Hi! I'm Chaitanya, a full-stack developer with a passion for building scalable web applications."</span>);</p>
          
          <p class="comment">// Work & Skills</p>
          <p><span class="key">let</span> <span class="variable"> skills</span> = [<span class="string">"Node.js"</span>, <span class="string">"Angular"</span>, <span class="string">"Kubernetes"</span>, <span class="string">"Kafka"</span>, <span class="string">"Redis"</span>];</p>
          
          <p class="comment">// About This Portfolio</p>
          <p><span class="function">console.log</span>(<span class="string">"This portfolio is inspired by VS Code, the editor I use daily. It's a reflection of my coding environment, built to showcase my skills interactively."</span>);</p>
          
          <p class="comment">// Hobbies</p>
          <p><span class="key">let</span> <span class="variable"> hobbies</span> = [<span class="string">"Cricket"</span>, <span class="string">"Table Tennis"</span>, <span class="string">"Watching Anime"</span>, <span class="string">"Fast Typing"</span>];</p>
        </div>
      </div>
      
      
  </section>