<div class="content">
  <ng-container *ngIf="activeTab.toLowerCase() === 'resume'; else checkLeetcode">
    <app-resume></app-resume>
  </ng-container>

  <ng-template #checkLeetcode>
    <ng-container *ngIf="activeTab.toLowerCase() === 'leetcode'; else checkSkills">
      <app-leetcode></app-leetcode>
    </ng-container>
  </ng-template>

  <ng-template #checkSkills>
    <ng-container *ngIf="activeTab.toLowerCase() === 'skills'; else checkGithub">
      <app-skills></app-skills>
    </ng-container>
  </ng-template>

  <ng-template #checkGithub>
    <ng-container *ngIf="activeTab.toLowerCase() === 'github'; else defaultContent">
      <app-github></app-github>
    </ng-container>
  </ng-template>

  <ng-template #defaultContent>
    <div [innerHTML]="sanitizedContent"></div>
  </ng-template>
</div>
