.sidebar {
  width: 100%;
  background: #24292E; /* Secondary background */
  padding: 10px;
  border-right: 1px solid #3C3C3C; /* Subtle border */
}

.sidebar h3 {
  color: #D4D4D4; /* Default text color */
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.2s;
  background: #24292E; /* Matches sidebar */
}

.sidebar ul li:hover {
  background: #3C3C3C; /* Slightly brighter highlight */
}

.sidebar ul li i {
  margin-right: 8px;
  color: #58A6FF; /* Soft blue */
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 1px;
  font-size: 16px;
  font-weight: bold;
  color: #D4D4D4;
  background: #2D333B;
  border: 1px solid #3C3C3C;
}

.sidebar-header img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
