<div class="sidebar">
    <h3>Chaitanya Nirfarake</h3>
    <ul>
      <li *ngFor="let tab of allTabs" (click)="openSection(tab)">
        <i *ngIf="tab.toLowerCase() === 'experience'" class="fas fa-briefcase"></i>
        <i *ngIf="tab.toLowerCase() === 'projects'" class="fas fa-code"></i>
        <i *ngIf="tab.toLowerCase() === 'publications'" class="fas fa-book"></i>
        <i *ngIf="tab.toLowerCase() === 'contact'" class="fas fa-envelope"></i>
        <i *ngIf="tab.toLowerCase() === 'welcome'" class="fas fa-briefcase"></i>
        {{ tab }}
      </li>
    </ul>
  </div>
